body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url(img/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 70px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h2 {
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

p {
  color: white;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  display: none;
  margin-top: -10px;
  margin-bottom: 10px;
}
